    body {
    padding-top: 65px;
    height:10000px;
    }
    a {
    color: rgb(0, 113, 133);
    }
    .item {
    font-size: larger;
    font-weight: bold;
    }
    .price {
    color: rgb(0, 118, 0);
    }
    .cart {
        background-color: rgb(255, 216, 20);
        color: black;
        height: 35px;
        width: 90px;
        border: none;
        border-radius: 20px;
        margin-right: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .cart:hover {
       background-color: rgb(225, 188, 3);
    }
    .cart:active {
        opacity: 0.8;
    }
    .buy {
        background-color: rgb(255, 164, 28);
        height: 35px;
        width: 90px;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .buy:hover {
        background-color: rgb(234, 149, 22);
    }
    .buy:active {
        opacity: 0.8;
    }
    .arial, .arial2 {
        margin: 0px;
        font-family:arial;
    }
    .tahoma {
        font-family:tahoma;
        font-size: 30px;
        font-weight: bold;
    }
    .arial {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .arial2 {
        font-size: 24px;
        color: red;
    }
    .verdana, .ver1, .ver2, .ver3 {
        margin: 0px;
        font-family: verdana;
    }
    .verdana {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 3px;
    }
    .ver1{
        color: rgb(128, 128, 128);
        margin-bottom: 15px;
    }
    .ver2 {
        width: 290px;
        margin-bottom: 15px;
    }
    .ver3 {
        background-color: rgb(27, 140, 6);
        color: white;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: pointer;
        transition: all 0.3s;
    }
    .ver3:hover {
        padding-left: 15px;
        padding-right: 15px;
    }
    .ver3:active {
        opacity: 0.9;
    }
    .ar1, .ar2, .ar3 {
        font-family: arial;
        text-align: center;
        margin: 0px;
    }
    .ar1 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .ar2 {
        font-weight: bold;
        margin-bottom: 15px;
    }
    .ar3 {
        color: blue;
    }
    .ar3:hover {
        text-decoration: underline;
    }
    .e, .e1, .e2, .e3, .e4{
        font-family: arial;
        margin: 0px;
        text-align: center;
    }
    .e {
        color: red;
        margin-bottom: 10px;
    }
    .e1 {
        font-weight: bold;
        font-size: 20px;
    }
    .e2 {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 10px;
    }
    .e4 {
        position:absolute;
        top: 102%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #1d9bf0;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .f, .f1, .f2, .f3, .f4{
        font-family: arial;
        margin: 0px;
    }
    .f {
        font-size: 25px;
        margin-bottom: 7px;
    }
    .f1 {
        font-size: 15px;
        color: grey;
    }
    .f2 {
        color: green;
        margin-bottom: 10px;
    }
    .f3 {
        color: grey;
    }
    .f4 {
        color: red;
    }
    .g, .g1, .g2, .g3, .g4 {
        font-family: arial;
        font-size: 18px;
        margin: 0px;
    }
    .g {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .g1 {
        color: grey;
    }
    .g2 {
        margin-bottom: 12px;
        width: 500px;
    }
    .g4 {
       color: #1d9bf0;
    }
    .h, .h1 {
        font-family:"Montserrat variant0", Tofu;
        text-align: center;
        margin: 0px;
    }
    .h {
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 8px;
    }
    .h1 {
        font-size: 20px;
    }
    .deku {
        width: 200px;
        border: none;
        border-radius: 10px;
        margin-right: 25px;
    }
    .deku2 {  
        object-fit: cover;
        object-position: center;
        width: 200px;
        height: 200px;
        margin-right: 25px;
    }
    .deku3 {
        object-fit: cover;
        object-position: center;
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    .search {
        padding: 5px;
        border-radius: 4px;
    }
    .email {
        margin: 0px;
        margin-bottom: 10px;
    }
    .singup {
        width: 250px;
    }
    .agree {
        background-color: #1d9bf0;
        color: white;
        border: none;
        border-radius: 30px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .j {
        object-fit: cover;
        object-position: center;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        vertical-align: middle;
    }
    .j1 {
        font-size: 30px;
        margin-left: 20px;
    }
    .j2 {
        background-color: #1d9bf0;
        color: white;
        border: none;
        border-radius: 20px;
        margin-left: 300px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .k {
        display: block;
    }
    .k3 {
        display: inline-block;
        width: 200px;
        vertical-align: middle;
    }
    .d8, .d81, .d82 {
        padding-left: 10px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-width: 1px;
        border-style: solid;       
        border-radius: 5px;
    }
    .d8 {
        width: 148px;
    }
    .d81 {
        width: 148px;
    }
    .d82 {
        display: block;
        width: 327px;
    }
    .d83 {
        background-color: #1d9bf0;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        width: 354px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .e8 {
        font-size: 30px;
        font-family: arial;
        margin-bottom: 12px;
    }
    .e81, .e82 {
        display: block;
        border: none;
        background-color: rgb(216, 214, 214);
        color: whitesmoke;
        width: 270px;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 7px;
        margin-bottom: 5px;
    }
    .e82 {
       margin-bottom: 30px
    }
    .e83 {
        background-color: black;
        color: white;
        height: 35px;
        width: 100px;
        margin: 5px;
        border: none;
        cursor: pointer;
    }
    .e84 {
        background-color: rgb(214, 214, 214);
        color: rgb(0, 0, 0);
        height: 35px;
        
        padding-right: 10px;
        padding-left: 10px;
        margin: 5px;
        border: none;
        cursor: pointer;
    }
    .a9 {
        display: inline-block;
        background-color: red;
        object-fit: cover;
        object-position: top;
        width: 100px;
        height: 100px;
    }
    .b9 {
        display: inline-block;
        background-color: green;
        object-fit: cover;
        object-position: top;
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
    .c9 {
        display: inline-block;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(150, 150, 150);
        width: 300px;
        padding-left: 15px;
        padding-bottom: 20px;
        font-family: arial;
        vertical-align: top;
    }
    .d9 {
        display: inline-block;
        background-color: rgb(39, 38, 38);
        width: 350px;
        padding-left: 15px;
        padding-bottom: 5px;
    }
    .d91 {
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-family: arial;
        font-size: 30px;
        color: white;
    }
    .d92 {
        color: grey;
    }
    .e9 {
        width: 335px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 1px 5px rgb(106, 106, 106);
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .e91 {
        object-fit: cover;
        object-position: center;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        vertical-align: middle;
    }
    .e92 {
        font-size: 15px;
        margin-left: 20px;
    }
    .e93 {
        background-color: #1d9bf0;
        color: white;
        border: none;
        border-radius: 20px;
        margin-left:70px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
    }
    .f9, .g9, .h9 {
        display: inline-block;
        width: 150px;
        border: none;
        box-shadow: 0px 1px 5px rgb(106, 106, 106);
        margin-right: 20px;
    }
    .f94, .g94, .h94 {  
        object-fit: cover;
        object-position: center;
        width: 150px;
        height: 150px;
    }
    .f91, .g91, .h91 {
        font-weight: bold;
        margin: 0px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    .f92, .g92, .h92 {
        margin: 0px;
        color: rgb(188, 188, 188);
        padding-left: 5px;
        padding-bottom: 5px;
    }
    .f93, .g93, .h93 {
        background-color: #1d9bf0;
        color: white;
        margin-left: 5px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
    }
    .j9 {
        text-align: center;
    }
    .j91 {
        width: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .j92 {
        display: block;
        margin: auto;
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        width: 500px;
        border-radius: 30px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }
    .j93 {
        background-color: rgb(245, 245, 245);
        border: none;
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .j94 {    
        margin-left: 210px;
        margin-right: 15px;
    }
    .b10, .b20, .b30 {
        width: 324px;
        margin-bottom: 5px;
        border-bottom-style: solid;
        border-bottom-color: rgb(168, 168, 168);
        border-bottom-width: 1px;
        padding-bottom: 5px;
    }
    .b11, .b21, .b31 {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
    }
    .b12, .b22, .b32 {
        object-fit: cover;
        object-position: center;
        width: 45px;
        height: 45px;
        border-radius: 100px;
        margin-top: 5px;
    }
    .b13,.b23, .b33 {
        display: inline-block;
        width: 200px;
        vertical-align: middle;
    }
    .b13>p, .b23>p, .b33>p {
        margin: 0;
        font-family: Roboto, arial;
        font-size: 14px;
    }
    .b14, .b24, .b34 {
        font-weight: 600;
    }
    .b15, .b25, .b35 {
        color: rgb(159, 159, 159);
    }
    .b16, .b26, .b36 {
        display: inline-block;
    }
    .b17, .b27, .b37 {
        background-color: #1d9bf0;
        color: white;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
        
    }
    .c1, .c2, .c3 {
        width: 460px;
        margin-bottom: 5px;
    }
    .c10, .c12, .c20, .c22, .c30, .c32 {
        display: inline-block;
        vertical-align: top;
    }
    .c11, .c21, .c31 {
        width: 200px;
    }
    .c12>p, .c22>p, .c32>p {
        width: 250px
    }
    .c13, .c23, .c33 {
        font-family: Roboto, arial;
        font-weight: 500;
        line-height: 22px;
        margin: 0;
        margin-bottom: 15px;
    }
    .c14, .c24, .c34 {
        margin: 0;
        color: rgb(138, 138, 138);
    }
    .c15, .c25, .c35 {
        margin-bottom: 4px;
    }
    .f9 {
        width: 150px;
        border: none;
        box-shadow: 0px 1px 5px rgb(106, 106, 106);
    }
    .f94 {  
        object-fit: cover;
        object-position: center;
        width: 150px;
        height: 150px;
    }
    .f91 {
        font-weight: bold;
        margin: 0px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    .f92 {
        display: inline-block;
        margin: 0px;
        color: rgb(131, 131, 131);
    }
    .f93 {
        background-color: #1d9bf0;
        color: white;
        margin-left: 5px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
    }
    .f95 {
        object-fit: cover;
        object-position: center;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        vertical-align: middle;
    }
    .e12 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        font-family: Roboto, arial;
        font-weight: 500;
        margin: 15px;
        padding-bottom: 8px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: rgba(128, 128, 128, 0.592);
    }
    .e14 {
        margin: 0px;
    }
    .e13 {
        background-color: #1d9bf0;
        color: white;
        border: none;
        border-radius: 20px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .f12 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(126, 71, 214);
    }
    .f13 {
        font-family: roboto, arial;
        color: white;
        margin-left: 10px;
    }
    .f14 {
        width: 400px;
        border: none;
        border-radius: 20px;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .f15 {
        background-color: rgb(126, 71, 214);
        border-color: white;
        border-style: solid;
        border-width: 2px;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-right: 7px;
    }
    .g10 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .g12 {
        object-fit: cover;
        object-position: center;
        width: 45px;
        height: 45px;
        border-radius: 100px;
        margin-top: 5px;
    }
    .g13 {
        margin-left: 10px;
        width: 200px;
    }
    .g13>p {
        margin: 0;
        font-family: roboto, arial;
        font-size: 14px;
    }
    .g14 {
        font-weight: 600;
    }
    .g15 {
        color: rgb(159, 159, 159);
    }
    .g17 {
        background-color: #1d9bf0;
        color: white;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
        
    }
    .j13 {
        width: 395px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 3px 10px grey;
    }
    .j14 {
        color: rgb(152, 151, 151);
        font-family: roboto, arial;
    }
    .j21 {
        margin-bottom: 10px;
        margin-left: 7px;
        padding-top: 5px;
    }
    .j20, .j17 {
        display: inline-block;
        align-items: center;
        margin-right: 5px;
    }
    .j19 {
        display: flex;
        flex-direction: row;
        width: 317px;
        justify-content: space-between;
    }
    .j16 {
        object-fit: cover;
        object-position: center;
        width: 45px;
        height: 45px;
        border-radius: 24.5px;
        margin-left: 5px;
    }
    .j18 {
        font-family: roboto, arial;
        font-weight: 500;
    }
    .k1 {
        margin-bottom: 6px;
    }
    .k13 {
        width: 395px;
        border: none;
        margin-bottom: 10px;
    }
    .k14 {
        width: 395px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 3px 10px grey;
    }
    .f21 {
        display: flex;
        flex-direction: row;
        width: 390px;
    }
    .f29 {
        object-fit: cover;
        object-position: center;
        width: 45px;
        height: 45px;
        border-radius: 24.5px;
        margin-top: 7px;
    }
    .f23 {
        margin-left: 10px;
    }
    .f24, .f25 {
        font-family: roboto, arial;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .f25 {
        color: rgb(159, 159, 159);
    }
    .f26 {
        font-family: roboto, arial;
        margin-bottom: 10px;
        line-height: 18px;
    }
    .f27 {
        display: flex;
        flex-direction: row;
        box-shadow: 1px 2px 8px gray;
        border-radius: 10px;
    }
    .f28 {
        width: 100px;
        background-color: rgb(185, 185, 185);
        border: none; 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .e21 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        height: 50px;
        width: 99%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgb(188, 188, 188);
        box-shadow: 0px 30px 100px rgb(206, 206, 206);
        z-index: 500;
    }
    .e22{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .e23 {
        object-fit: cover;
        object-position: center;
        height: 45px;
        width: 45px;
        border-radius: 25px;
        margin-right: 10px;
    }
    .e24 {
        font-family: roboto,arial;
        font-size: 20px;
        font-weight:500;
    }
    .e26 {
        background-color: #1d9bf0;
        color: white;
        border: none;
        border-radius: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 7px;
    }
    .e27 {
        background-color: rgb(201, 201, 201);
        border: none;
        border-radius: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 20px;
    }
    .profile-card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile {
        height: 330px;
        width: 250px;
        border-radius: 15px;
        box-shadow: 1px 1px 20px gainsboro;
    }
    .upper {
        background-color: #1d9bf0;
        position: relative;
        height: 120px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .pic {
        position: absolute;
        left: 75px;
        bottom: -20px;
        height: 100px;
        width:100px;
        object-fit: cover;
        object-position: center;
        border-radius: 50px;
        border: 1px solid white;
    }
    .lower {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 30px;
    }
    .holder {
        font-family: roboto, arial;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .job {
        font-family: roboto;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .bx {
        font-size: 26px;
        margin-bottom: 5px;
        margin-left: 7px;
    }
    .bxl-facebook-circle {
        color: #3045ae;
    }
    .bxl-twitter {
        color: #1d9bf0;
    }
    .bxl-instagram-alt {
        color: #d9115a;
    }
    .bxl-whatsapp {
        color: #058045;
    }
    .sub, .messages {
        background-color: #1d9bf0;
        color: white;
        border: none;
        padding: 7px 14px;
        border-radius: 15px;
        margin: 5px 10px;
        margin-bottom: 14px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 185px;
        margin-left: 10px;
    }
    .bl {
        display: flex;
        flex-direction: row;
        padding-right: 15px;
        border-right: 2px solid gainsboro;
    }
    .ml {
        margin: 0;
        font-size: 16px;
        border: none;
    }
    .flipping-card {
        min-height: 70vh;
        width: 100%;
        position: relative;
        background-color: #121321;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        perspective: 2000px;
    }
    .flipping-card::before {
        content:"";
        position: absolute;
        height: 240px;
        width: 240px;
        border-radius: 50%;
        transform: translate(-150px,-100px);
        background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    }
    .flipping-card::after {
        content: "";
        position: absolute;
        height: 240px;
        width: 240px;
        border-radius: 50%;
        transform: translate(150px,100px);
        background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    }
    .card-body {
        position: relative;
        height: 185px;
        width: 375px;
        z-index: 100;
        transition: all 0.6s;
        transform-style:preserve-3d;
    }
    .card-body:hover {
        transform: rotateY(180deg);
    }
    .card-body .card {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        padding: 25px;
        backdrop-filter: blur(25px);
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.249);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backface-visibility: hidden;
    }
    .logo img {
        height: 30px;
    }
    .front-face header,
    .front-face .logo {
        display: flex;
        align-items: center;
    }
    .front-face header {
        justify-content: space-between;
    }
    h5 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .front-face .chip {
        width: 50px;
        height: 30px;
    }
    .front-face .card-details {
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        margin-top: 40px
    }
    h6 {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
    }
    h5.number {
        font-size: 20px;
        letter-spacing: 1px;
    }
    h5.name {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
    }
    .card.back-face {
        border: none;
        padding: 15px 25px 25px 25px;
        transform: rotateY(180deg);
    }
    .card.back-face h6 {
        font-size: 12px;
    }
    .card.back-face .magnetic-strip {
        position: absolute;
        top: 40px;
        left: 0;
        height: 45px;
        width: 100%;
        background-color: #000;
    }
    .card.back-face .signature {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 80px;
        height: 40px;
        width: 85%;
        border-radius: 6px;
        background: repeating-linear-gradient(
            #fff,
            #fff 3px,
            #efefef 0px,
            #efefef 9px
        );
    }
    .signature {
        color: #000;
        font-size: 14px;
        margin-right: -30px;
        background-color: #fff;
        padding: 4px 6px;
        border-radius: 4px;
    }
    .card.back-face h5 {
        font-size: 12px;
        margin-top: 15px;
    }
    .credit-card {
        position: relative;
        background-color: #121321;
        height: 70vh;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        perspective: 2000px;
    }
    .credit-card-body {
        position: relative;
        height: 185px;
        width: 375px;
        transition: all 0.5s;
        transform-style: preserve-3d;
    }
    .credit-card-body:hover {
        transform: rotateY(180deg);
    }
    .credit-card-body .card {
        position: absolute;
        height: 100%;
        width: 100%;
        background: url('https://th.bing.com/th/id/OIP.FVdQkSynC9y9GNNuP87IJgHaE7?rs=1&pid=ImgDetMain');
        color: whitesmoke; padding: 20px;
        border-radius: 25px;
        box-shadow: 0px 10px 50px #121321;
        backface-visibility: hidden; 
    }
    .card.back-face.credit-back {
        border: none;
        transform: rotateY(180deg);
    }
    .login-form {
        height: 70vh;
        width: 100%;
        background-color: #41ba7f;
        font-family: roboto, arial;
    }
    .login-form, .head, .login-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-body {
        background-color: #ffffff;
        height: 320px;
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 14px;
        box-shadow: 0 10px 50px rgb(42, 120, 94);
    }
    .head {
        background-color: #058045;
        color: white;
        height: 60px;
        width: 100%;
        border-radius: 14px 14px 0 0;
        font-size: 20px;
        font-weight:500;
    }
    .login-info {
        width: 90%;
    }
    .user-email, .user-pass {
        width: 100%;
        margin: 25px 0px 7px 0px;
        display: flex;
        justify-content: center;
    }
    .user-pass {
        margin: 7px 0px 7px 0px;
    }
    .user-email>i, .user-pass>i {
        margin: 0;
        background-color: #058045;
        color: white;
        padding: 5px;
        border-radius: 5px 0 0 5px;
    }
    .email2, .password {
        height: 34px;
        width: 75%;
        border: none;
        outline: none;
        padding-left: 10px;
        border-radius: 0 5px 5px 0;
    }
    .email2:focus, .password:focus {
        border-color: #058045;
        box-shadow: inset 0px 0px 1px 1px #058045;
    }
    .forget {
        margin-right: 142px;
        font-size: 12px;
        transition: all 0.15s;
    }
    .forget:hover {
        text-decoration: underline;
        color: #1d9bf0;
    }
    .login-button {
        height: 36px;
        width: 244.5px;
        padding: 5px 0;
        margin: 20px 0 10px 0;
        background-color: #058045;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        font-weight:500;
    }
    .login-button:hover {
        opacity: 0.75;
    }
    .creatacc {
        margin-top: 25px;
        font-size: 15px;
    }
    .creatacc span:hover {
        text-decoration: underline;
        color: #1d9bf0;
    }
    .main {
        background-color: rgb(141, 221, 252);
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .submain {
        display: flex;
        background-color: white;
        border-radius: 20px;
        align-items: center;
        box-shadow: 0px 0px 15px 1px rgb(171, 171, 171);
    }
    .submain .search {
        height: 0px;
        width: 0px;
        padding: 6px 8px;
        margin-left: 5px;
        border: none;
        outline: none;
        border-radius: 20px 0 0 20px;
        transition: all 0.3s linear;
    }
    label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bx-search {
        background-color: rgb(9, 104, 155);
        color: black;
        margin: 0;
        padding: 8px;
        position: absolute;
        border-radius: 20px;
        transition: all 0.3s linear;
    }
    #check {
        display: none;
    }
    #check:checked ~ .search {
        width: 450px;
        height: 30px;
    }
    #check:checked ~ label .bx-search {
        border-radius: 0 20px 20px 0;
        color: white;
    }
    .simple-website {
        height: 50vh;
        color: white;
        position: relative;
        display: flex;
        justify-content: center;
        background-image: url(https://wallpapercave.com/wp/wp5718802.jpg);
        background-position: center;
        background-size: cover;
    }
    .top-bar {
        background-color: rgb(7, 50, 90);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .left-side {
        font-size: 22px;
        font-family: roboto,arial;
        margin-left: 30px;
    }
    .right-side {
        display:flex;
        margin-right: 30px;
        font-size:17px;
        transition: all 0.3s;
    }
    .right-side>div {
        padding: 5px 10px;
        border-radius: 10px;
    }
    .right-side>div:hover {
        background-color: rgb(18, 61, 101);
    }
    .main-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text1 {
        color: rgb(0, 0, 0);
        font-size: 30px;
        text-align: center;
        width: 400px;
    }
    .learn, .Subscribe {
        margin: 20px 10px;
        padding: 7px 10px;
        cursor:pointer;
    }
    .learn {
        background-color:#00000000;
        color: white;
        border: 1px solid white;
        border-radius: 2px;
        transition: all 0.3s linear;
    }
    .learn:hover {
        background-color: white;
        color: #000;
        border: none;
    }
    .Subscribe, .learn {
        font-weight:600;
    }
    @media (min-width:1200px){
        .simple-website{
            height: 100vh
        }
    }